services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}         
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
      POSTGRES_DB: ${DB_NAME}           
    ports:
      - "5433:5432"                     
    deploy:                             
      resources:                        
        limits:                         
          memory: 256M                  
    volumes:
      - postgres_data:/var/lib/postgresql/data 

  backend:
    build: ./backend                    
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    ports:
      - "8000:8000"                     
    environment:
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME} 
      - PORT=8000                       
    depends_on:
      - db                              
    deploy:
      resources:
        limits:
          memory: 512M                  

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app:delegated
      - frontend_node_modules:/app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend                     
    deploy:
      resources:
        limits:
          memory: 1G                    
      
volumes:
  postgres_data:
  backend_node_modules:
  frontend_node_modules: